<html>
    <head>
    	<title>Спортивные секции</title>
    </head>
    <bode>
        <h1>Спортивные секции</h1>
        <ul>
            {% for g in allgroups %}
                <li>
                    {{g.title}} 
                    &mdash;
                    <a href="{% url "store:group" g.pk %}">Просмотреть</a>
                    &mdash;
                    <a href="{% url "store:groupedit" g.pk %}">Редактировать</a>
                </li>
            {% endfor %}
        </ul>
         <a href="{% url "store:students" %}"><h1>Список студентов</h1></a>
    </bode>
</html>    
