<html>
    <head>
    	<title>Спортивные секции</title>
    </head>
    <bode>
        <h1>Спортивные секции</h1>
        <ul>
            {% for g in allgroups %}
                <li>
                    {{g.title}} 
                    &mdash;
                        <a href="{% url "store:group" g.pk %}">{{g.title}}
                        Просмотреть
                        </a>
                        &mdash;
                        <a href="{% url "store:groupedit" g.pk %}">редактировать</a>
                </li>
            {% endfor %}
        </ul>
    </bode>
</html>    
